<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Web Socket Test Page</title>
</head>
<body>
	<script type="text/javascript">
		
		const wsUrl = "ws://localhost:8080/";
		let webSocket;

		function init() {
			webSocket = new WebSocket(wsUrl);
			webSocket.onopen = (evt) => {
				onOpen(evt)
			};
			webSocket.onclose = (evt) => {
				onClose(evt)
			};
			webSocket.onmessage = (evt) => {
				onMessage(evt)
			};
			webSocket.onerror = (evt) => {
				onError(evt)
			};
		}
		
		function onOpen(event){
			console.log("OnOpen Event");
		}

		function onClose(event) {
			console.log("OnClose Event");
		}

		function onError(event) {
			console.log("OnError Event");
		}

		function sendMessage() {
			webSocket.send(textBox.value);
		}

		function onMessage(event) {
			console.log(event.data);
		}

		window.addEventListener("load", init, false);
	</script>
	<textarea id="textBox" rows="5" cols="20"></textarea>
	<button onclick="sendMessage();">Send Message</button>


</body>
</html>